@charset "utf-8";

.head_line {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head_line svg{
  width: 60%;
  margin: 0 auto;
}

.menus {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid #000;
  border-bottom: 4px solid gray;
}

.menus button {
  border: none;
  background: none;
  margin: 5px;
  cursor: pointer;
}

.menus button:hover {
  background-color: beige;
}

.new_img_size {
  max-width: 100%;
  max-height: 250px;
  object-fit: cover;
  background-color: #e5e5e5;
}

.news {
  border-bottom: 1px solid gray;
}